# базовые библиотеки
numpy==1.26.3
torch==2.1.2
transformers==4.36.2
pandas==2.1.4
pyhocon==0.3.60
scikit-learn==1.4.0

# квантование
bitsandbytes==0.42.0
accelerate==0.26.0

# flash attention
packaging==23.2
flash-attn==2.4.2

# параллельное обучение
deepspeed==0.12.6
fairscale==0.4.13

# адаптеры
peft==0.7.1

# профилирование
mlflow==2.10.0
tensorboard==2.15.1
torch_tb_profiler==0.4.3